.admin-panel {
    padding-top:1px;
    background:whitesmoke;
    .wordlist-admin-card {
        width: 60%;
        margin: 2% auto;
        border: 1px solid black;
        word-break: break-word;
    }

}