.container {
    display: flex;
    justify-content: center;
    .puzzle {
      margin: 1%;
      display: flex;
      flex-direction: column;
      width: fit-content;
      user-select: none;
      background: #F0EDEE;
      border: 1px solid black;
      h3 {
        margin: 1% auto;
        border: 1px solid black;
        border-radius: 8px;
        padding: 1rem;
        width: 60%;
      }
      .selectedTile {
        background: #2C666E;
        color: white;
      }
      .solvedTile {
        background: #61dafb;
        color: black;
      }
      .row {
        display: flex;
        justify-content: center;
        .tile {
          display: inline-block;
          align-items: center;
          line-height: 1.4;
          width: 30px;
          height: 30px;
          justify-content: center;
          text-align: center;
          padding-top: 1%;
          cursor: pointer;
        }
      }
      .win-box {
        position:fixed;
        background: rgba(255, 255, 255, 0.664);
        padding-top: 1%;
        width: 80%;
        height: auto;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        .manage-button {
          width: 200px;  
        }
      }
    }

    .word-list {
      display: flex;
      border: 1px black solid;
      text-align: left;
      margin-top: 1%;
      max-height: 36.75vmax;
      flex-flow: column wrap;
      width:10%;
      background: #F0EDEE;
      border: 1px solid black;
      .word {
        margin: 2%;
      }
    }
    .crossedOut {
        text-decoration: line-through;
    }

    // change background colors
    .red {
      background: #fd2727;
      color: whitesmoke;
    }
    .orange {
      background: #FF8C00;
    }
    .yellow {
      background: #FFFF00;
    }
    .green {
      background: #00FF00;
    }
    .lt-blue {
      background: #b3def8;
    }
     .purple {
      background: #a799f8;
    }
    .pink {
      background: #EE82EE;
    }
    .peach {
      background: #FFEFD5;
    }
    .lt-grey {
      background: #F0EDEE;
    }
    
    // change fonts
    .comicsans {
        font-family: "Comic Sans MS", cursive, sans-serif;
    }
    .lucida {
        font-family: "Lucida Console", Monaco, monospace
    }
    .impact {
        font-family: Impact, Charcoal, sans-serif;
    }
    .bookman {
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    }
    .default-font {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
          'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
          sans-serif;
    }
    .manage-button {
        font-size: 1.15rem;
        text-align: center;
        align-content: space-around;
        margin-top: 3%;
        height: 30px;
        width: 150px;
        border-radius:10px;
        background:#F0EDEE;
        border: 2px solid #2c666e;
        color: #2c666e;
        transition: .6s;
        margin-bottom: 20px;
        &:hover {
            color: #F0EDEE;
            background: #2c666e;
            transition: .6s;
        }
    }
    .small-font {
      font-size: .98em;
    }
    .button-space {
      display: flex;
      gap: 3rem;
      justify-content: center;
    }
  }

  @media screen and (max-width:800px) {
    .container {
      flex-direction:column;
      align-items: center;
      .font-button {
        display:none;
      }
      .word-list {
        width: 600px;
        height: 40vh;
        max-height: 500px;
        flex-direction: row;
        justify-content: space-around;
      }
    }
  }

  