* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.App {
  text-align: center;
}

.App-logo {
  //height: 40vmin;
  pointer-events: none;
}
.bt1 {
  padding: 3px;
  margin-top: 10px;
  font-size: 1.5rem;
  background-color: #ffeee2;
  border-radius: 8px;
}

.text_area1{
  width: 200px;
  height: 30px;
  border-radius: 8px;
  background-color: #ffeee2;
}
.text_area {
  width: 300px;
  height: 50px;
  border-radius: 8px;
  background-color:  #ffeee2;
}

.navbar-header {
  img {
    width:4rem;
    margin-left: 15px;
  }
}

.sc-AxhCb {
  padding: 0;
}

.nav-links {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1.2rem;
  color: #e3e5e4;
  text-decoration: none;
  padding: 10px;
  transition: .60s;
  &:hover {
    color: #2C666E;
    background-color: white;
    text-decoration: none;
    transition: .60s;
  }
}

.footer {
  width: 100%;
  height: 1rem;
  text-align: center;
}

.puzzle-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 3% auto;
  text-align: left;
  background: #2C666E;
  color: #e3e5e4;
  padding: 15px;
  padding-top: 5px;
  label {
    line-height: 1.5;
  }
  textarea {
    margin-bottom: 10px;
    padding: 5px;
  }
  button {
    font-size: 1.3rem;
    width: 60%;
    margin: 1% auto;
    height: 40px;
    border-radius:10px;
    background:#F0EDEE;
    border: 2px solid #2c666e;
    color: #2c666e;
    transition: .6s;
    cursor:pointer;
    &:hover {
        color: #F0EDEE;
        background: #2c666e;
        transition: .6s;
        border: 2px solid #F0EDEE;
   }

  }
}
.puzzle-list {
  display:flex;
  flex-wrap: wrap;
  margin: 1% auto;
  justify-content: center;
  padding: 1%;
}

.puzzle-link {
  border: 1px solid black;
  width: 300px;
  padding: 1%;
  margin: 1%;
}

.manage-button {
    font-size: 1.3rem;
    margin-top: 3%;
    height: 40px;
    border-radius:10px;
    width: 100%;
    background:#F0EDEE;
    border: 2px solid #2c666e;
    color: #2c666e;
    transition: .6s;
    &:hover {
        color: #F0EDEE;
        background: #2c666e;
        transition: .6s;
    }
}

.manage-puzzles {
  display:flex;
  flex-wrap: wrap;
  margin: 1% auto;
  justify-content: center;
}

.loading {
  background: #2c666e;
  color: #F0EDEE;
  border-radius: 10px;
  transition: cubic-bezier(0.6, -0.28, 0.735, 0.045)
}