* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.App {
  text-align: center;
}

.App-logo {
  //height: 40vmin;
  pointer-events: none;
}
.bt1 {
  padding: 3px;
  margin-top: 10px;
  font-size: 1.5rem;
  background-color: #ffeee2;
  border-radius: 8px;
}

.text_area1{
  width: 200px;
  height: 30px;
  border-radius: 8px;
  background-color: #ffeee2;
}
.text_area {
  width: 300px;
  height: 50px;
  border-radius: 8px;
  background-color:  #ffeee2;
}

.navbar-header {
  img {
    width:4rem;
  }
}

.sc-AxhCb {
  padding: 0;
}

.nav-links {
  font-size: 1.2rem;
  color:  #2C666E;
  background-color: #e3e5e4;
  border-radius: 8px;
  padding: 5px;
  text-decoration: none;
  border: 1px black solid;
}
.play-now {
  color: #2C666E;
  background-color: white;
  border: 1px black solid;
}
.nav-links:hover {
  color: #2C666E;
  background-color: white;
  text-decoration: none;
}
.footer {
  // position: fixed;
  width: 100%;
  // bottom: 10px;
  height: 1rem;
  text-align: center;
}
.container {
  display: flex;
  justify-content: flex-start;
  align-items:center;
}
.puzzle {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 800px;
  margin-top:20px;
  user-select: none;
  .win-box {
    position: absolute;
    background:white;
    padding:10px;
    border: 1px solid black;
  }
}


.row {
  justify-content:flex-end;
  display: flex;
  width: 100%;
}
.tile {
  display: inline-block;
  align-items: center;
  line-height: 1.1;
  width: 25px;
  height: 25px;
  justify-content: center;
  text-align: center;
  padding-top: 3px;
  cursor: pointer;
}

.puzzle-form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  text-align: left;
}
text-area {
  height: 800px;
}
.word-list {
  text-align: left;
  width: 20%;
  padding-top: 1%;
  padding-left: 30px;
}

.selectedTile {
  background: #2C666E;
  color: white;
}

.solvedTile {
  background: #61dafb;
  color: black;
}

.crossedOut {
  text-decoration: line-through;
}

.selectedTile {
  background: #2C666E;
  color: white;
}

.comicsans {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.lucida {
  font-family: "Lucida Console", Monaco, monospace
}

.impact {
  font-family: Impact, Charcoal, sans-serif;
}

.bookman {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.default-font {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.puzzle-list {
  display:flex;
  flex-wrap: wrap;
  margin: 1% auto;
  justify-content: center;
  a {
    border: 1px solid black;
    width: 300px;
    padding: 1%;
    margin: 1%;

  }
}